body {
    background-color: white;
    .fugaz-one-regular {
    font-family: "Fugaz One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 60px;
}

.container {
    background: rgb(241, 217, 190);
    display: inline-block;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  text-align: center;
  width: 60px;
  font-size: 1.2em;
}

button {
  background-color: #705036;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #a43c93;
}

#resultat {
  margin-top: 20px;
  font-weight: bold;
  font-size: 1.2em;
}

}