body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 20px;
    background-color: #f4fff6;
}

h1 {
    color: #21643b;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    margin-top: 15px;
    padding: 8px 12px;
    border: none;
    background-color: #2f8b52;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button {
    margin-top: 15px;
    padding: 8px 12px;
    border: none;
    background-color: #2f8b52;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #256c3f;
}

#eskeSvar {
    margin-top: 15px;
    font-weight: bold;
    color: #154028;
}