@font-face {
  font-family: "Bitcount Grid Single";
  src: url("BitcountGridSingle-VariableFont_CRSV,ELSH,ELXP,slnt,wght.ttf");
}

@font-face {
  font-family: "Iceberg";
  src: url("Iceberg-Regular.ttf");
}

@font-face {
  font-family: "Macondo";
  src: url("Macondo-Regular.ttf");
}