body {
  font-family: Arial;
  text-align: center;
  margin-top: 100px;
}

input, button {
  font-size: 16px;
  padding: 5px;
}

#output {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}
